<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Calendario de salones</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
            
        <!-- DIALOG BOX-->
        <link rel="stylesheet" href="jquery-ui-1.11.4/jquery-ui.min.css">
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <script src='fullcalendar/lib/jquery.min.js'></script>
        <script src="jquery-ui-1.11.4/jquery-ui.js"></script>
        <script src="angular/src/dialog.js"></script>    
        
        <!-- FULLCALENDAR-->
        <link rel='stylesheet' href='/stylesheets/fullcalendar.css' />
        <script src='fullcalendar/lib/moment.min.js'></script>
        <script src='fullcalendar/lib/fullcalendar.js'></script>
        
        <!-- ANGULAR-->
        <script src="angular/lib/angular.js"></script>
        <script src="angular/lib/angular-route.js"></script>
      
    </head>
    <body>
        <h1>Calendario de salones</h1>
      
        <div ng-view>     
        </div>
          
        <% include partialDialog%>         
        
        <script src="angular/src/app.js"></script>
    </body>
</html>
