<!DOCTYPE html>
<html>
  <head>
    <title>Calendario de salones</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Calendario de salones</h1>
  </body>
</html>
