<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Calendario de salones</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
      
        <!-- FULLCALENDAR-->
        <link rel='stylesheet' href='/stylesheets/fullcalendar.css' />
        <script src='fullcalendar/lib/jquery.min.js'></script>
        <script src='fullcalendar/lib/moment.min.js'></script>
        <script src='fullcalendar/lib/fullcalendar.js'></script>
        
        <!-- ANGULAR-->
        <script src="angular/lib/angular.js"></script>
        <script src="angular/lib/angular-route.js"></script>
      
    </head>
    <body>
        <h1>Calendario de salones</h1>
      
        <div ng-view>     
        </div>
          
        <script src="angular/src/app.js"></script>
    </body>
</html>
