<div id="dialog">
    <form>
        <fieldset>
            <label for="titulo">Titulo</label>
            <input type="text" name="titulo" id="titulo" /> <br>
            <h4>Usuario</h4> 
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" /> <br>
            <label for="numControl">Numero de Control:</label>
            <input type="text" name="numControl" id="numControl" /> <br>
            <input type="checkbox" id="allday" name="allday" value="1">
            All Day
        </fieldset>
    </form>
</div>

<div>
    <div id="calendar"></div>
</div>