<!-- Open this div as dialog with the event select callback-->

<div id="add-event" title="Add New Event">
    <form action="" id="add-event-form" name="add-event-form">
        <label for="title">Event Name</label>
        <input type="text" name="title" id="title" />
        <p>
            <label for="add-date">Date</label>
            <input type="text" name="event-date" id="event-date" tabindex="-1" />
        </p>
        <p>
            <label for="add-start-time">Start time</label>
            <input type="text" name="start-time" id="start-time" />
        </p>
        <p>
            <label for="add-end-time">End time</label>
            <input type="text" name="end-time" id="end-time" />
        </p>
        <p>
            <label for="repeats">Repeat</label>
            <input type="checkbox" name="repeats" id="repeats" value="1" />
        <div id="repeat-options">
            Repeat every: day <input type="radio" value="1" name="repeat-frec" align="bottom" />
            week <input type="radio" value="7" name="repeat-frec" align="bottom" />
            two weeks <input type="radio" value="14" name="repeat-frec" align="bottom" />
            
        </div>
        </p>
    </form>
</div>