<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/fullcalendar.css' />

    <script src="fullcalendar/lib/jquery.min.js"></script>  
    <script src="fullcalendar/lib/moment.min.js"></script>  
    <script src="fullcalendar/src/fullcalendar.js"></script>
    <script type="text/javascript" src="fullcalendar/src/gcal.js"></script> 
      
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                //options and callbacks here
                //Options:
                //affects the look or behavior of the calendar
                weekends: true,//will hide Saturdays and sundays
                dayClick: function() {//Callbacks: 
                //functions that get called whenever something special happends.
                    alert('a day has been clicked!');
                },
                eventClick: function(calEvent, jsEvent, view) {
                    var event = 'Event: ' + calEvent.title + '\n' 
                        + 'Start time: ' + calEvent.start + '\n' 
                        + 'End time: ' + calEvent.end;

                    alert(event);
                    // jQuery.facebox(event); 
                    // this would open the HTML in a facebox popup window
                    if(calEvent.url) {
                        window.open(calEvent.url);
                        return false;
                    }

                }
            })

//Methods provide ways to manipulate the calendar from JavaScript code. 
//A method operates on the jQuery object of a calendar that has already been initialized, using the fullCalendar command, but in a different way.
//This will call the next method and will force to the calendar to move to the next month/week/day.
            var newEvent = {
                id: 1,
                title: 'My test Event',
                start: moment("2015-10-02T01:32:21.196Z"),
                end: moment("2015-10-03T01:32:21.196Z"),
                //end: moment("2015 10 03", "YYYY MM DD"),
                allDay: false,

                location: 'The house',
                description: 'Party',
                className: 'gcalevent',

                editable: true//permite el movimiento del evento
            }; 
            $('#calendar').fullCalendar('renderEvent', newEvent, true);

            var event2 = {
                id: 2,
                title: 'My Second Event',
                start: moment("2015-10-02T19:32:21.196Z"),
                end: moment("2015-10-03T20:32:21.196Z"),
                //end: moment("2015 10 03", "YYYY MM DD"),
                allDay: false,
                editable: true,//permite el movimiento del evento
                                 color: 'yellow',   // an option!
                        textColor: 'black' // an option!
       
            }; 
            $('#calendar').fullCalendar('renderEvent', event2, true);


        });
          
    </script>
      
      <script>
          $(document).ready(function() {
              var source = [
                  {
                      title: "Mexico",
                      start: moment("2015-10-15T14:30:19.196Z"),
                      end: moment("2015-10-15T16:30:19.196Z"),
                      editable:true                      
                  },
                  {
                      title: "Japan",
                      start: moment("2015-10-15T14:30:19.196Z"),
                      end: moment("2015-10-15T16:30:19.196Z"),
                      editable:true                      
                  },
                  {
                      title: "China",
                      start: moment("2015-10-15T14:30:19.196Z"),
                      end: moment("2015-10-15T16:30:19.196Z"),
                      editable:true                      
                  }];
              $('#calendar').fullCalendar( 'addEventSource', source );
          });
      </script>
      <!-- Initialized the calendar with JS, this is the most minimal example. Settings of GCAL-->
      <!-- To specify some Event Source options, include them in the events object -->
      <script type="text/x-javascript">
          $(document).ready(function() {
              $('#calendar').fullCalendar({
                  googleCalendarApiKey: 'AIzaSyDWgP-4n9HLVysfUXHKKAllt04iyeadWqk',
                  //events: 'monserrat.jimenez2@gmail.com',
                  events: {
                    googleCalendarId: 'monserrat.jimenez2@gmail.com',
                    className: 'gcal-event'
                  },
                  eventClick: function(event) {
                      //opens events in a popup window
                      window.open(event.url, 'gcalevent', 'with=700, height=600');
                      return false;
                  },
                  loading: function(bool) {
                      $('#loading').toggle(bool);
                  }
              });
          });
      </script>
  </head>
  <body>
      <div id="calendar"></div>
  </body>
</html>
