<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Dialog - Default functionality</title>

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/mystyle.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  
  <!-- Dependencies -->  
  <script src="/javascripts/jquery-1.11.3.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
  <!-- scripts --> 
  <script src="ejemploJQuery/dialogConfig.js"></script>  
    
</head>
<body>
    
    <input id="button" type="button" value="Open Dialog Form">
    <div id="dialog" title="Basic dialog">
        <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    </div>
    
    <a href="/">Regresar</a>
</body>
</html>