<!DOCTYPE html>
<html>
    <head>
        <title>jQuery Dialog Form Example</title>
        
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        
        <!-- Including CSS File Here-->
        <link rel="stylesheet" href="/stylesheets/eje2.css">
  
        <!-- Including CSS & jQuery Dialog UI Here -->
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/ui-darkness/jquery-ui.css" rel="stylesheet">
        <script src="javascripts/jquery-1.11.3.js"></script>
        <script src="javascripts/jquery-ui-1.11.4/jquery-ui.js"></script>
  
        <!-- scripts --> 
        <script src="ejemploJQuery/eje2.js"></script>  
  
    </head>
    <body>
        <div class="container">
            <div class="main">
                <div id="dialog" title="Dialog Form">
                    <form action="" method="post">
                        <label>Name:</label>
                        <input id="name" name="name" type="text">
                        <label>Email:</label>
                        <input id="email" name="email" type="text">
                        <input id="submit" type="submit" value="Submit">
                    </form>
                </div>
                <h2>jQuery Dialog Form Example</h2>
                <p>Click below button to see jQuery dialog form.</p>
                <input id="button" type="button" value="Open Dialog Form">
            </div>
        </div>
    </body>
</html>