<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
      <a href="/eje2">Eje2</a>
        <a href="/eje22">eje22</a>
        <a href="/dialog">Dialogo</a>
  </body>
</html>
